/*HEADER*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f2f2f2;
  z-index: 0;
  overflow: hidden;
}
.logo_place_header {
  width: 183px;
  height: 32;
  position: absolute;
  left:64px;
  top: 30px;
  z-index: 0;
}
